	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 40px;
font-style: normal;
margin-left: 40px;
}

.flaticon-alarm-clock:before { content: "\f100"; }
.flaticon-backward-arrows-button-outline:before { content: "\f101"; }
.flaticon-bling-dollar-symbol:before { content: "\f102"; }
.flaticon-cellular-phone-set-with-auricular-and-cord:before { content: "\f103"; }
.flaticon-close-rounded-square-button:before { content: "\f104"; }
.flaticon-coffee-drink-glass-outline-with-cover:before { content: "\f105"; }
.flaticon-darth-vader-frontal-head-outline:before { content: "\f106"; }
.flaticon-dashboard:before { content: "\f107"; }
.flaticon-decrease-volume-interface-speaker-outline-symbol:before { content: "\f108"; }
.flaticon-diamond-ring-jewel-outline-from-top-view:before { content: "\f109"; }
.flaticon-donut-sweet-dessert-with-a-flower-shape-in-the-circle-outline-from-top-view:before { content: "\f10a"; }
.flaticon-dribbble-ball-logo-outline:before { content: "\f10b"; }
.flaticon-eject-multimedia-circular-button-with-up-arrow-in-a-circle-outline:before { content: "\f10c"; }
.flaticon-facebook-like-hand-symbol-outline:before { content: "\f10d"; }
.flaticon-facebook-social-letter-logo-outline-inside-double-rounded-square:before { content: "\f10e"; }
.flaticon-fast-forward-arrows-circular-button-outline-for-multimedia-interface:before { content: "\f10f"; }
.flaticon-fork-and-knife-outlines-cross:before { content: "\f110"; }
.flaticon-game-pad:before { content: "\f111"; }
.flaticon-hammer-tool-outline:before { content: "\f112"; }
.flaticon-headphones-outline-with-cord-line:before { content: "\f113"; }
.flaticon-ice-cream-cone-outline:before { content: "\f114"; }
.flaticon-increase-volume-interface-symbol-of-a-speaker-outline:before { content: "\f115"; }
.flaticon-instagram-photo-camera-logo-outline:before { content: "\f116"; }
.flaticon-lego-3d-rectangle-outline:before { content: "\f117"; }
.flaticon-lego-cube-or-square:before { content: "\f118"; }
.flaticon-light-bulb-outline:before { content: "\f119"; }
.flaticon-long-record-player-vintage-tool-outline:before { content: "\f11a"; }
.flaticon-macbook-pro-computer-tool-outline:before { content: "\f11b"; }
.flaticon-marker-outline:before { content: "\f11c"; }
.flaticon-meat-cleaver:before { content: "\f11d"; }
.flaticon-mute-interface-symbol-outline-of-a-speaker-with-a-small-cross:before { content: "\f11e"; }
.flaticon-new-email-closed-envelope-back-with-a-heart-in-rounded-rectangular-shape-outline-for-interface:before { content: "\f11f"; }
.flaticon-next-chapter-button-outline:before { content: "\f120"; }
.flaticon-notebook-of-spring-outline-with-a-skull-and-a-heart:before { content: "\f121"; }
.flaticon-pause-multimedia-controls-circular-button-outline:before { content: "\f122"; }
.flaticon-photo-camera-front-outline:before { content: "\f123"; }
.flaticon-pinterest-letter-logo-outline-in-a-rounded-square:before { content: "\f124"; }
.flaticon-play-circular-button-outline:before { content: "\f125"; }
.flaticon-postcard-rectangular-rounded-outline:before { content: "\f126"; }
.flaticon-previous-chapter-arrow-button:before { content: "\f127"; }
.flaticon-previous-left-arrow-circular-symbol-outline:before { content: "\f128"; }
.flaticon-question-circular-speech-bubble-outline:before { content: "\f129"; }
.flaticon-record-circles-button:before { content: "\f12a"; }
.flaticon-red-wine-glass:before { content: "\f12b"; }
.flaticon-right-arrow-in-double-circle-outline:before { content: "\f12c"; }
.flaticon-safety-pin-tool-outline-from-side-view-in-vertical-position:before { content: "\f12d"; }
.flaticon-scissors-outline-pointing-down:before { content: "\f12e"; }
.flaticon-search-interface-symbol-of-a-magnifier-with-an-eye-inside:before { content: "\f12f"; }
.flaticon-shopping-bag-outline-tool-with-a-small-heart:before { content: "\f130"; }
.flaticon-skull-variant:before { content: "\f131"; }
.flaticon-sneaker-shoe-outline-of-fashion-walking-tool:before { content: "\f132"; }
.flaticon-speech-bubble-of-circular-shape-with-female-lips-mouth-outline-inside:before { content: "\f133"; }
.flaticon-stop-player-button-outline:before { content: "\f134"; }
.flaticon-suitcase-for-travelling-baggage-outline:before { content: "\f135"; }
.flaticon-toad-mushroom:before { content: "\f136"; }
.flaticon-toilet-paper-roll-outline:before { content: "\f137"; }
.flaticon-tumblr-letter-logo-outline-in-a-rounded-square:before { content: "\f138"; }
.flaticon-twitter-bird-logo-outline:before { content: "\f139"; }
.flaticon-vimeo-letter-logo-in-a-rounded-square:before { content: "\f13a"; }
.flaticon-watermelon-fruit-slice-outline-with-drops:before { content: "\f13b"; }
.flaticon-whisk-cooking-tool:before { content: "\f13c"; }
.flaticon-yes-button-circular-outline:before { content: "\f13d"; }
.flaticon-zoom-in-interface-symbol-of-a-magnifier-with-plus-sign:before { content: "\f13e"; }
.flaticon-zoom-out-interface-outline-symbol:before { content: "\f13f"; }
