@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@font-face {
  font-family: 'shamery';
  src: url('../fonts/shamery.otf') format('otf');
}
@font-face {
  font-family: 'fuji_quake_zone-webfont';
  src: url('../fonts/fuji_quake_zone-webfont.ttf') format('truetype');
}
