/****** PARTIALS *********/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,900");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text");
@font-face {
  font-family: 'shamery';
  src: url("../fonts/shamery.otf") format("otf"); }
@font-face {
  font-family: 'fuji_quake_zone-webfont';
  src: url("../fonts/fuji_quake_zone-webfont.ttf") format("truetype"); }
/****** COLORS *********/
/****** GRADIENT *********/
.navbar {
  background-color: #1B1F21; }

.navbar-brand {
  font-family: 'fuji_quake_zone-webfont';
  color: #1BB7A8;
  text-transform: uppercase;
  padding-left: 30px;
  font-size: 40px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.navbar-brand:hover {
  color: white; }

ul.navbar-nav {
  position: absolute;
  right: 0;
  padding-right: 30px;
  margin-top: -20px; }

a.nav-link {
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 3px;
  font-weight: 300; }

/****** GLOBAL *********/
body {
  font-family: 'Lato', sans-serif; }
  body h1 {
    font-size: 106px;
    line-height: 1;
    font-weight: 700;
    font-size: 100px !important;
    padding-bottom: 20px;
    color: white; }
  body h2 {
    font-family: 'shamery';
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px; }
  body h3 {
    font-family: 'shamery';
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    color: gray;
    padding-bottom: 20px;
    letter-spacing: 3px; }
  body h4 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gray;
    margin-bottom: 0;
    font-weight: 300; }
  body .container {
    width: 100%;
    margin: 0 auto;
    padding: 0; }

/****** HEADER *********/
section.module.parallax {
  padding: 300px 0;
  background-size: 100%;
  height: 100vh; }
  section.module.parallax h2 {
    color: white; }

section.module.parallax-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(315deg, rgba(217, 45, 137, 0.6), rgba(27, 183, 168, 0.6)), url("../img/space3.jpg");
  background-size: cover; }

/****** CONTENT *********/
section.module h2 {
  color: #1BB7A8; }
section.module p {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px; }

section.module.content {
  padding: 15vh 20vw 10vh 20vw; }

section.module.dark {
  background-color: #1B1F21; }
  section.module.dark p {
    color: white; }

section.module.light {
  background-color: white; }
  section.module.light p {
    color: black; }

/****** FOOTER *********/
section.module.footer {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #1B1F21;
  color: white; }
  section.module.footer .fa {
    margin-right: 30px;
    margin-left: 30px; }

section.module.sub-footer {
  text-align: center;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px; }
  section.module.sub-footer .barcode-text {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 20px;
    padding-left: 20px; }

/*# sourceMappingURL=home.css.map */
